@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-family: 'PT Sans';
  font-weight: 700;
  letter-spacing: 0.1em;

  padding-bottom: 5em;

  background-color: rgb(245, 245, 245);
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  font-style: italic;

  color: var(--text);
}

.h1-subtext {
  font-size: 1.5rem;

  color: var(--text);
}
