@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-family: 'PT Sans';
  font-weight: 700;

  padding-bottom: 5em;

  scrollbar-width: none;

  background-color: hsl(var(--primary-bg-color));
}

body * {
  color: hsl(var(--primary-color));
}

h1 {
  font-style: italic;

  @include f.flat-type(v.$font-1);

  color: hsl(var(--white-color));
}

.h1-subtext {
  @include f.flat-type(v.$font-3);

  color: hsl(var(--white-color));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* Fallback for older browsers */
  clip-path: inset(50%); /* Modern alternative */
  white-space: nowrap;
  border: 0;
}
