html {
  font-family: 'PT Sans';
  font-weight: 700;
  letter-spacing: 0.1em;

  padding-bottom: 5em;

  background-color: rgb(245, 245, 245);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;

  padding: 0;
}
